/* The navigation menu */
html, body {
  margin: 0;
  padding: 0;
}

h1 {
    text-align: center;
    background: #1abc9c;
    padding: 30px;
}

.navbar {
    width: 100%;
    overflow: auto;
    background-color: #333;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    font-size: 28px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 12px;
    width: 33.33%;
  }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: auto;
    width: 33.33%;

  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 28px;
    border: none;
    outline: none;
    color: white;
    padding: 12px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    width: 100%;
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: rgb(92, 92, 92);
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(92, 92, 92);
    width: 100%;
    z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }
  /* Style the search box inside the navigation bar */
  .searchbar {
      background: #1392db;
      padding: 10px;
      text-align: center;

  }
  .searchbar input[type=text] {
    font-size: 15px;
    width: 500px;
    height: 25px;
    margin-top: 0;
    position: relative;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
  }
